<ion-view view-title="Recent">
  <ion-content>
    <div class="list card" ng-repeat="transaction in transactions">
        <div class="item item-divider">
            <p>{{transaction.date}}</p>
            <h2>{{transaction.payee}}</h2>
        </div>
        <div class="item" ng-repeat="account in transaction.accounts" ng-if="account.amount != null">
            <h2>{{account.name}} <span class="item-note"><span>{{account.currency}}</span>{{account.amount}}</span></h2>
        </div>
        <div class="item item-button-right" ng-repeat="account in transaction.accounts" ng-if="account.amount === null">
            <h2>{{account.name}}</h2>
        </div>
        {{}}
    </div>
  </ion-content>
</ion-view>

<!-- payee: "Month Wage",
      date: "2015/07/01",
      consolidated: true,
      accounts: [
      {
        account: "assets:bank:current",
        amount: "1500.00",
        currency: "GBP"
      }, {
        account: "income:wage",
        amount: null,
        currency: "GBP"
      }] -->